.loading {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  &--skeleton {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
  }
}
