$loading-animation-iteration-count: infinite;
$loading-animation-direction: alternate;
$loading-animation-timing: 0.75s;
$loading-animation-properties: $loading-animation-timing $loading-animation-direction $loading-animation-iteration-count;
